/* CSS for Sidebar Navigation */

.menu ul li {
    list-style-type: none ;

   
}

.menu1{
    position : relative ;
}
.menu{
    z-index: 1 ;
    color : black ;
    /* background-color: #FFFFFF; */
    position: absolute;
    top: 0px ;

}

.img{
    background-image: url("../../Assets/abstract.jpg");
    opacity: 0.3;
    height :1000px ;
    z-index: 0;
}


.menu a {
    /* background-color: #eee;  */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 15px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    align-content: initial ;
}

.menu a:hover {
    /* background-color: #ccc; Dark grey background on mouse-over */
    color: #FFFFFF ;
}

.menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

/* CSS for Text Dashboard */

.Redirect {
    font-size: 20px;
    display : inline ;
    }

.Redirect a{
    text-decoration: none ;
    color : #FFFFFF ;
}

.Redirect a.active {
    text-decoration: none ;
     color : #FFFFFF ;
}

.Icon {
    background-color: inherit;
    margin-bottom: -4px ;
    padding-right: 10px;
}

.Head{
    height: 64px;
    margin-bottom: 0px;
    background-color: #4CAF50;
}