.Container{
    height : auto ;
    width : 100%;   
    }

.Details{
    height : 250px;
    width : 100% ; 
    background-color: #cfd8dc ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 2%;
    /* text-align: center; */
    padding : 10px;
}
.Details1{
    height : 400px;
    width : 100% ; 
    background-color: #cfd8dc ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 2%;
    /* text-align: center; */
    padding : 5px;
}

.Title {
    width : 100%;
    height : 20px;
    background-color: #01579b ;
    /* background-color: #01579b ; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);       
    color : white;
    padding: 7px;  
    z-index: 100;
    border-radius: 3%;
    text-align: center;

}