.Details{
   height : 200px;
    width : 300px; 
    background-color: #B2EBF2 ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 2%;
    padding : 5px;
    z-index: 80;
}



.Title{
    width : 100%;
    height : 30px;
    background-color: #FFFFFF ;
    box-shadow: 0 4px 20px 0 #9E9E9E;       
    color : black;
    padding-top : 5px;
    z-index: 100;
    border-radius: 3%;
    text-align: center ; 
    font-size: 22px;

}

.Data{
    z-index: 100;
    margin-top: 5px ;
    width : 100% ;
    height : auto ;
    font-size: 150px ;
    color: black ; 
    text-align: center ;
}


@media (min-width: 0px) and (max-width : 720px) {
    .Details{
        height : 70px;
        width : 40%; 
        margin-top: 10px ;
    }

    .Title{
        height : 25px;
        font-size: 15px ;
    }

    .Data{
        font-size: 40px;
    }
}


