.Details{
   height : 250px;
    width : 200px; 
    background-color: #cfd8dc ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 2%;
    text-align: center;
    padding : 5px;
    z-index: 80;

}

.Manage{
    width : 100% ;
    height  : auto ; 
    display : flex;
    justify-content : space-around;
    margin-bottom: 100px;
    margin-top : 50px;
    
}

.Title{
    width : 100%;
    height : 20px;
    background-color: #01579b ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);       
    color : white;
    padding: 7px;  
    z-index: 100;
    border-radius: 3%;
    text-align: center;

}

.Manage a {
    text-decoration: none;
    color : white ;
}
.Graph{
    float : left ;
    width: 47%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}

.Mdraw{
    display : flex ;
    justify-content: space-between ;
    width : 100%; 
    
}

.Table{
    width : 100
}

@media (min-width: 0px) and (max-width : 720px) {
    .Manage {
        display : block ;
        float: left;
       margin-top: 0px;
       margin-bottom: 20px;
    }

    .Mdraw {
    display : block ;
    background-color: purple ;
    width : 89% ;
    }
    .Graph{
        width : 100%;
        margin-bottom: 10px ;
    }
    .Table{
        width : 89% ;
    }
}