.Details{
   height : 500px;
    width : 320px; 
    background-color: #B2EBF2 ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 2%;
    text-align: center;
    padding : 5px;
    z-index: 80;
}


.Manage{
    width : 100% ;
    height  : 600px; 
    display : flex;
    justify-content : space-around;
    
}

.Title{
    width : 100%;
    height : 30px;
    background-color: #FFFFFF ;
    box-shadow: 0 4px 20px 0 #9E9E9E;       
    color : black;
    padding-top : 5px;
    z-index: 100;
    border-radius: 3%;
    text-align: center ; 

}

.list {
    text-align: left ;
}

.listData{
    height:90%;
    width:100%;
    overflow: auto ;
    position : relative ;
}


@media (min-width: 0px) and (max-width : 720px) {

    .Manage{
        display : block !important ;
    }

   .Details{
       width : 100% ;
       height: 300px ;
       margin-bottom: 10px ;
   }
}